@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.project-cards, .filter-cards, .footer-address__list, .clients__list, .socials-set, .team__list, .advantages__item, .advantages__list, .site-contacts, .site-nav, .mob-socials-set, .header-mob-contacts, .header-mob-menu, .section {
  margin: 0;
  padding: 0;
  list-style: none;
}

.project-cards__link, .footer-address__contact, .footer-address__map, .socials-set__link, .site-contacts__link, .site-logo, .site-nav__link, .mob-socials-set__link, .header-mob-menu__link--mail, .header-mob-menu__link--tel, .header-mob-menu__link {
  text-decoration: none;
  color: inherit;
}

.team__member-description, .advantages__description {
  margin-top: 0;
  margin-bottom: 0;
}

.form, .footer, .team, .business, .button__main-button, .hero, .title, .section__title {
  text-align: center;
}

body {
  height: 100vh;
  /* padding-top: var(--header-height); */
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

.modal-open {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-main {
  flex: 1 1 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.row {
  display: flex;
  align-items: center;
}

.point {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.point:hover, .point:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
}

.subtitle {
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.set-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.page-header {
  width: 100%;
  min-height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header-container {
    display: flex;
  }
}

.page-header__nav {
  position: relative;
  display: flex;
  align-items: center;
}

.mobile-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .mobile-wrapper {
    display: none;
  }
}

.mobile-menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__button.is-open .mobile-menu__icon-cross {
  display: block;
}

.mobile-menu__button.is-open .mobile-menu__icon-burger {
  display: none;
}

.mobile-menu__icon-cross {
  display: none;
}

.mob-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility, transform;
}
@media screen and (max-height: 500px) {
  .mob-menu-container {
    overflow-y: scroll;
  }
}
@media screen and (max-width: 767.98px) {
  .mob-menu-container {
    display: block;
  }
  .mob-menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateX(0);
  }
}

.mob-menu-navigation {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  min-height: 80vh;
  height: 100%;
  margin: 0;
}

.mobile-menu__toggle {
  display: inline-flex;
  color: #212121;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.mobile-menu__button:hover .mobile-menu__icon-burger,
.mobile-menu__button:focus .mobile-menu__icon-burger {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  fill: #2196f3;
}

.mobile-menu__cross {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-menu__button:hover .mobile-menu__icon-close,
.mobile-menu__button:focus .mobile-menu__icon-close {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  fill: #2196f3;
}

.header-mob-menu {
  margin-bottom: auto;
}
.header-mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.header-mob-menu__link {
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #212121;
  font-size: 40px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
@media screen and (max-width: 479px) {
  .header-mob-menu__link {
    font-size: 5vw;
  }
}
.header-mob-menu__link:hover, .header-mob-menu__link:focus {
  color: #2196f3;
}
.header-mob-menu__link__link--current {
  color: #2196f3;
}

.header-mob-contacts {
  margin-bottom: 64px;
}
.header-mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.header-mob-menu__link--tel {
  color: #2196f3;
  font-size: 34px;
  font-size: 34px;
}
@media screen and (max-width: 479px) {
  .header-mob-menu__link--tel {
    font-size: 5vw;
  }
}
@media screen and (max-width: 479px) {
  .header-mob-menu__link--tel {
    font-size: 5vw;
  }
}

.header-mob-menu__link--mail {
  color: #757575;
  font-size: 24px;
}
@media screen and (max-width: 479px) {
  .header-mob-menu__link--mail {
    font-size: 5vw;
  }
}

.mob-socials-set {
  display: inline-flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: flex-start;
}

.mob-socials-set__item {
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.mob-socials-set__item:hover, .mob-socials-set__item:focus {
  color: #2196f3;
}
.mob-socials-set__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  margin: 0 10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mob-socials-set__link {
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  font-size: 18px;
}
@media screen and (max-width: 479px) {
  .mob-socials-set__link {
    font-size: 3.75vw;
  }
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  position: relative;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link--current {
  color: #2196f3;
}
.site-nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border: none;
  border-radius: 2px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  transform: scaleX(1);
}
.site-nav__link--current:hover::after {
  transform: scaleX(0);
}

.site-logo {
  display: block;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}
.site-logo__accent {
  color: #2196f3;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer__logo__accent {
  color: #2196f3;
}

.site-contacts {
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .site-contacts {
    display: flex;
    align-items: center;
  }
}

.site-contacts__item {
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .site-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .site-contacts__item {
    margin-bottom: 0;
  }
  .site-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-contacts__link {
  display: block;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-contacts__link--contact {
  display: flex;
  align-items: center;
  color: #757575;
}

.site-contacts__icon {
  display: inline-flex;
  margin-right: 10px;
  fill: currentColor;
  vertical-align: center;
}

.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../../images/hero/hero-mb-min.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../../images/hero/hero-mb@2x-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../../images/hero/hero-tb-min.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../../images/hero/hero-tb@2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../../images/hero/hero-dt-min.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../../images/hero/hero-dt@2x-min.jpg);
  }
}
.hero .hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero .hero__title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    line-height: 1.4;
  }
}

.button {
  /* border: 1px solid transparent; */
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button__main-button {
  min-width: 216px;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow;
}
.button__main-button:active, .button__main-button:hover, .button__main-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantages__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .advantages__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .advantages__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantages__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 120px;
  margin-top: 0;
  margin-bottom: 30px;
  /* padding: 25px 101px; */
  background: #f5f4fa;
  border-radius: 4px;
}

.advantages__description {
  font-size: 14px;
}

@media screen and (max-width: 1199.98px) {
  .business {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .business {
    display: flex;
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 1200px) {
  .business__list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.business__item {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 370px;
}
.business__item:not(:last-child) {
  margin-right: 30px;
}

.business__images {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
}

.business__descr {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__images {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.team__member-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.team__member-description {
  margin-bottom: 16px;
}

.socials-set {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}
.socials-set__item:not(:last-child) {
  margin-right: 10px;
}

.socials-set__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
}
.socials-set__link:hover, .socials-set__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.socials-set__icon {
  fill: currentColor;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767.98px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
    margin-bottom: 0;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .clients__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.clients__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  min-height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, border;
}
.clients__logo:hover, .clients__logo:focus, .clients__logo:active {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767.98px) {
  .footer-container {
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

.footer__address-content {
  margin-bottom: 60px;
  text-align: left;
}
@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .footer__address-content {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__address-content {
    text-align: center;
    margin-right: 165px;
  }
}

.footer-address__item {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-size: 14px;
}
.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__map {
  color: #ffffff;
}

.footer-address__contact {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199.98px) {
  .footer-socials {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 70px;
  }
}

.footer-socials__slogan {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (max-width: 1199.98px) {
  .footer-socials__slogan {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials__slogan {
    text-align: left;
  }
}

.footer-socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer-socials__icon {
  fill: currentColor;
}

/* Підпишіться на розсилку */
.footer-signup {
  padding: 0;
  margin-bottom: 0;
  margin-left: auto;
}
@media screen and (max-width: 1199.98px) {
  .footer-signup {
    width: 100%;
    max-width: 450px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer-signup__subscription {
  margin-right: 12px;
}

.footer-signup__form {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 1199.98px) {
  .footer-signup__form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer-signup__email {
  min-width: 358px;
  margin-top: 0;
  margin-bottom: 0;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
@media screen and (max-width: 1199.98px) {
  .footer-signup__email {
    margin-bottom: 20px;
  }
}

.footer-signup__button {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
}

.footer-signup__icon {
  position: absolute;
  right: 28px;
  display: inline-flex;
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 94px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotateY(-180deg);
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, transform;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 480px;
  width: 100%;
  min-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, transform;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    width: 100%;
    min-height: 581px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__button-close:focus > .modal__icon-close, .modal__button-close:hover > .modal__icon-close, .modal__button-close:active > .modal__icon-close {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.modal__icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
}

.form {
  margin-right: auto;
  margin-left: auto;
  padding: 40px 30px;
}
@media screen and (min-width: 1200px) {
  .form {
    padding: 40px;
  }
}

.form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.2;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 448px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}

.form__input + .form__icon {
  fill: #000000;
  position: absolute;
  top: 50%;
  left: 12px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: outline-color;
}
.form__input:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-color: #2196f3;
}

.form__input:focus + .form__label, .form__input:hover + .form__label, .form__input:not(:placeholder-shown) + .form__label {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.form__field--field-comment {
  margin-bottom: 20px;
}

.form__input--comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.form__input--comment::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  padding-left: 20px;
}
@media screen and (min-width: 1200px) {
  .agreement {
    padding-left: 35px;
  }
}

.policy-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.policy-label__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.policy-label__checkbox:checked ~ .policy-label__icon--square {
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}
.policy-label__checkbox:checked ~ .policy-label__icon--check {
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}

.policy-label__icon--square {
  position: absolute;
  left: 0;
  top: 10%;
  display: block;
  margin-left: 0;
  margin-right: 7px;
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .policy-label__icon--square {
    margin-left: 13px;
    margin-right: 7px;
  }
}

.policy-label__icon--check {
  position: absolute;
  left: 0;
  top: 10%;
  display: block;
  margin-left: 0;
  margin-right: 7px;
  opacity: 0;
}
@media screen and (min-width: 1200px) {
  .policy-label__icon--check {
    margin-left: 13px;
    margin-right: 7px;
  }
}

.policy-label__link {
  position: relative;
  display: inline-block;
  color: #2196f3;
  text-decoration: underline;
}

.filter-cards {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 767.98px) {
  .filter-cards {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.filter-cards__item {
  margin-bottom: 0;
}
.filter-cards__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 1199.98px) {
  .filter-cards__item {
    margin-bottom: 15px;
  }
  .filter-cards__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.button-filter {
  display: block;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, box-shadow;
}
.button-filter:hover, .button-filter:focus, .button-filter:active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .project-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-cards__item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .project-cards__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 0;
  }
  .project-cards__item:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .project-cards__item:nth-child(2n) {
    margin-right: 0;
  }
  .project-cards__item:last-child {
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .project-cards__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .project-cards__item:nth-child(3n) {
    margin-right: 0;
  }
  .project-cards__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .project-cards__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.project-cards__item:hover, .project-cards__item:active, .project-cards__item:focus-within {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-cards__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-right: 0;
}

.project-cards__thumb-overlay {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.project-cards__img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.project-cards__img img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.project-cards__overlay {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.6;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.project-cards__content {
  flex-direction: column;
  flex-grow: 1;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-cards__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-cards__description {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.9;
}

.project-cards__link:hover .project-cards__overlay, .project-cards__link:focus .project-cards__overlay {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */