.filter-cards {
    @extend %list;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
    @media  screen and (max-width: $max-mobile) {
       flex-wrap: wrap;
       justify-content: flex-start; 
    }
}

.filter-cards__item{
    margin-bottom:0;
    &:not(:last-child) {
    margin-right: 8px;
}
@media screen and (max-width: $max-tablet){
    margin-bottom: 15px;
    &:nth-last-child(-n+2){
        margin-bottom: 0;
    }
}


}

.button-filter {
    display: block;
    padding: 6px 22px;

    background-color: $bg-ghost-white;
    color: $primary-text-color;

    font-weight: $accent-weight;
    font-size: $primary-font-size;
    line-height: 1.6;

    border-radius: 4px;

    @include transition();
    transition-property:color, background-color, box-shadow;

        &:hover,
        &:focus,
        &:active {
                color: $white-color;
                background-color: $accent-dodger-blue;
                box-shadow: $active-shadow;
            }
}

