/* Підпишіться на розсилку */
.footer-signup {
    padding: 0;
    margin-bottom: 0;
    margin-left: auto;

    @media screen and (max-width: $max-tablet) {
    width: 100%;
    max-width: 450px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    }
}

.footer-signup__subscription {
    margin-right: 12px;
}

.footer-signup__form {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
@media screen and (max-width: $max-tablet){
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

}

.footer-signup__email {
    min-width: 358px;
    margin-top: 0;
    margin-bottom: 0;

    height: 50px;
    padding: 15px 16px;

    border: 1px solid $signup-border;
    filter: drop-shadow(0px 4px 4px $sign-up-filter);
    border-radius: 4px;
    background-color: transparent;
    color: $white-transparent-color;

    font-family: 'Roboto', sans-serif;
    font-weight: $primary-weight;
    font-size: $primary-font-size;

    line-height: 1.2;

    @media screen and (max-width: $max-tablet) {
        margin-bottom: 20px;
    }
}

.signup-button {
    position: relative;
    display: flex;
    align-items: center;

    min-width: 200px;
    height: 50px;
    padding: 10px 28px;
}

.signup-icon {
    position: absolute;
    right: 28px;
    display: inline-flex;
    margin-left: 10px;

    fill: $white-color;
}