.footer-socials {
  @media screen and (max-width: $max-tablet){
    text-align: center;
    margin-bottom: 60px;
  }
//  @media screen and (max-width: $max-tablet) {
//   text-align: center;
//   // margin-left: auto;
//  }

@media screen and(min-width: $desktop) {
  margin-left: 70px;
}
  
}

// приєднуйтесь 
.footer-socials__slogan {
  margin-top: 0;
  margin-bottom: 20px;
  color: $white-color;
@media screen and (max-width: $max-tablet) {
    text-align: center;
  }
@media screen and(min-width: $desktop) {
  text-align: left;
}
}

.footer-socials__link {
  background-color: $bg-footer-social-icons;
  color: $white-color;
}

.footer-socials__icon {
  fill: currentColor;
}
