.hero {
    @extend %centered;
    max-width: 1600px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
    background-color: $bg-gunmetal;


    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(./../../images/hero/hero-mb-min.jpg);
    //   retina
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(./../../images/hero/hero-mb@2x-min.jpg);
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(./../../images/hero/hero-tb-min.jpg);
    //   retina
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(./../../images/hero/hero-tb@2x-min.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(./../../images/hero/hero-dt-min.jpg);
    //   retina
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(./../../images/hero/hero-dt@2x-min.jpg);
    }
}

    .hero__title {
            margin-top: 0;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            color: $white-color;
            font-size: 26px;
            font-weight: $hero-weight;
            font-size: $hero-mob-font-size;
            line-height: 1.62;
    
            letter-spacing: 0.06em;
            text-transform: uppercase;
            max-width: 360px;

            @media screen and (min-width: $desktop){
                max-width: 696px;
                margin-left: auto;
                margin-right: auto;
                font-size: $hero-font-size;
                line-height: 1.4;
            }
        }
}
