.mobile-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    @media screen and (min-width: $tablet) {
         display: none;
    }
}

.mobile-menu__button {
  display: inline-flex;
  margin: 0; 
  padding: 0;
  border: none;
  background-color: transparent; 
  
  @media screen and (min-width: $tablet) {
    dispaly: none;
  }
}
  .mobile-menu__button.is-open .mobile-menu__icon-cross {
        display: block;
    }
  .mobile-menu__button.is-open .mobile-menu__icon-burger {
        display: none;
    }


.mobile-menu__icon-cross{
    display: none;
}



.mob-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
     min-height: 100vh;
// min-height: 796px;
    background-color: $white-color;
    padding: 48px 40px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translateX(-100%);
    @include transition();
    transition-property: opacity, visibility, transform;

    @media screen and (max-height: 500px) {
        overflow-y: scroll;
    }
    @media screen and (max-width: $max-mobile) {
        dispaly: none;
        
        &.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: initial;

            transform: translateX(0);
        }
    }
}


.mob-menu-navigation {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    min-height: 95vh;
    margin: 0;
}

// .mob-menu-navigation {
//     display: flex;
//     flex-direction: column;
//     max-width: 400px;

//     height: 100%;
//     margin: 0;

//     transform: translateX(-100%);
//     @include transition();
//     transition-property: transform;
// }

// .mob-menu-container.is-open .mob-menu-navigation {
//     transform: translateX(0);
// }

// .mob-menu-container{
//     display: none;
//     background-color: yellow;
//     padding: 48px 40px;
//     transform: translateX(-100%);
//     @include transition();
//     transition-property: opacity, transform;

//     @media screen and (max-height: 500px) {
//         overflow-y: scroll;
//     }
//         @media screen and (max-width: $max-mobile) {
//             dispaly: none;
//             position: absolute;
//             top: 0;
//             left: 0;
//             z-index: 2;
//             width: 100%;
//             min-height: 100vh;
//                 &.is-open {
//                         display: block;
//                         transform: translateX(0);
//                     }
//         }
//         @media screen and (min-width: $tablet){
//             display: flex;
//             justify-content: space-between;
//             flex-grow: 1;
//         }
// }


// main first menu-burger&cross
.mobile-menu__toggle {
    display: inline-flex;
    color: $primary-text-color;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;

    cursor: pointer;
}

// .mobile-menu__open {
//     @include transition();
//     transition-property: fill;

//     .mobile-menu__toggle:hover &,
//     .mobile-menu__toggle:focus & {
//         fill: $accent-dodger-blue;
//     }
// }

 .mobile-menu__button:hover .mobile-menu__icon-burger,
 .mobile-menu__button:focus .mobile-menu__icon-burger {
    @include transition();
    transition-property: fill;
    fill: $accent-dodger-blue;
    }




// close mob-menu (close open-menu with nav-links)
.mobile-menu__cross {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.mobile-menu__button:hover .mobile-menu__icon-close,
.mobile-menu__button:focus .mobile-menu__icon-close {
    @include transition();
    transition-property: fill;
    fill: $accent-dodger-blue;
}

.header-mob-menu {
    @extend %list;
    margin-bottom: auto;
    &__item:not(:last-child){
     margin-bottom: 32px;
    }  
}

.header-mob-menu__link {
    font-weight: $accent-weight;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    @media screen and (max-width: $pre-mobile) {
        font-size: 5vw;
    }
    font-size: $mobile-nav-link;
        @include transition();
        transition-property: color;

   &:hover,
   &:focus{
    color: $accent-dodger-blue;
   }

   &__link--current {
    color: $accent-dodger-blue;
   }
}

.header-mob-contacts {
    margin-bottom: 64px;
    &__item:not(:last-child) {
            margin-bottom: 32px;
        }
}

.header-mob-menu__link--tel {
    color: $accent-dodger-blue;
    @media screen and (max-width: $pre-mobile) {
        font-size: 5vw;
    }
    font-size: $mobile-tel-contacts;
    @media screen and (max-width: $pre-mobile) {
        font-size: 5vw;
    }
    font-size: $mobile-tel-contacts;
    // 24px
}

.header-mob-menu__link--mail{
    color: $secondary-text-color;
    @media screen and (max-width: $pre-mobile) {
            font-size: 5vw;
        }
        font-size: $mobile-mail-link;
        // 24px
}
    
.mob-socials-set{
    display: inline-flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: flex-start;
}
.mob-socials-set__item{
        display: flex;
        align-items: center;
        @include transition();
            transition-property: color;
            &:hover,
            &:focus {
                color: $accent-dodger-blue;
            }
         
        &:not(:last-child)::after {
                content: '';
        
                display: inline-block;
                margin: 0 10px;
        
                width: 1px;
                height: 22px;
        
                background-color: rgba(33, 33, 33, 0.2);
            }
}


.mob-socials-set__link {
    @extend %link;
    font-weight: $accent-weight;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $accent-dodger-blue;

    @media screen and (max-width: $pre-mobile) {
        font-size: 3.75vw;
    }
    font-size: $mobile-link-font-size;
}