
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    padding: 94px 15px;
    background-color: $bg-modal-overlay;

    overflow: scroll;
    opacity: 1;
    @include transition();
    transition-property: opacity;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    .modal {
            transform: translate(-50%, -50%) scale(0.2);
            opacity: 0;
        }
}

 

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%) scale(1);

    width: 480px;
    min-height: 609px;
    
    background: $white-color;
    box-shadow: $modal-shadow;
    border-radius: 4px;
    
    opacity: 1;
    
        @include transition();
        transition-property: transform, opacity;

     @media screen and (min-width: $desktop) {
        width: 528px;
    min-height: 581px;    
    }
}


.button--modal-close {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 0;
	margin: 0;
    @include circle($width: 30px, $height: 30px, $radius: 50%);
	background: transparent;
	border: 1px solid $border-close-btn;
	&:focus,
    &:hover,
    &:active {
		> .modal__icon-close {
			fill: $accent-dodger-blue;
            @include transition();
            transition-property: fill;
		}
	}
	 
}

.modal__icon-close {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 18px;
	height: 18px;
}




