.form {
  @extend %centered;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
}

.form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: $modal-form-font-title;
  line-height: 1.2;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 448px;
  margin-top: 0;
  margin-bottom: 10px;

  font-size: $modal-form-font;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  text-align: left;
}

.form__input + .form__icon {
  fill: $black-logo;
  position: absolute;
  top: 50%;
  left: 12px;
  @include transition();
  transition-property: fill;
}

.form__input {
  &:focus + .form__icon {
    fill: $accent-dodger-blue;
  }
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
width: 100%;
height: 40px;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid $modal-form-border;
  border-radius: 4px;
  @include transition();
  transition-property: outline-color;

  &:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: $accent-dodger-blue;
  }
}

.form__input {

  &:focus + .form__label,
  &:hover + .form__label,
  &:not(:placeholder-shown) + .form__label {
    color: $accent-dodger-blue;
    @include transition();
      transition-property: color;
  }
}

.form__field--field-comment {
  margin-bottom: 20px;
}

.form__input--comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.form__input--comment {
  &::placeholder {
    font-size: $modal-form-font;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: $comment-modal;
  }
}


// label-policy

    // .policy-wrap{
    // display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   margin-top: 0;
    //   margin-bottom: 30px;
    // }

.policy-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  @media screen and(min-width: $desktop) {
    justify-content: center;
  }
}

.policy-label__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.policy-label__icon {
  display: flex;
    margin-left: 0;
    margin-right: 5px;

  @media screen and (min-width: $desktop){
    margin-left: 12px;
  }
}

.policy-label__checkbox:checked + * .policy-label__icon-square {
    opacity: 0;
  }

.policy-label__checkbox:checked + * .policy-label__icon-check {
   opacity: 1;
  }


.policy-label__icon-square{
  margin-right: 5px;
  opacity: 1;
  @include transition();
  transition-property: opacity;
}


.policy-label__icon-check{
  margin-right: 5px;
  opacity: 0; 
  @include transition();
  transition-property: opacity;
}

.agreement{
  display: block;
  font-size: $modal-form-font;
  line-height: 1.2;
  color: $secondary-text-color;
  @media screen and (max-width: $pre-mobile) {
      font-size: 2.5vw;
    }
}

.policy-label__link {
  display: inline-block;
  margin-left: 3px;
  color: $accent-dodger-blue;
  text-decoration: underline;
}