.page-header {
  
  width: 100%;
  min-height: $header-height;

  background-color: $white-color;
  border-bottom: 1px solid $border-whisper-white;

}

.page-header-container{
display: none;
@media screen and (min-width: $tablet) {
display: flex;
}
}

.page-header__nav {
  position: relative;
        @include centeredFlex();
}



