.page-header {
   /* position: fixed;
  top: 0;
  left: 0;
  z-index: 10; */

  width: 100%;
  min-height: $header-height;

  background-color: $white-color;
  border-bottom: 1px solid $border-whisper-white;
} 

.page-header__nav {
        @include centeredFlex();
}



