.project-cards {
  @extend %list;

  // tablet
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }
}

.project-cards__item {
  @include transition();
  transition-property: box-shadow;

  @media screen and (max-width: $max-mobile) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  // styles with margins

  // tablet
  // @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  //   flex-basis: calc((100% - 1 * 30px) / 2);
  //   margin-right: 0;

  //   &:not(:last-child) {
  //     margin-bottom: 30px;
  //     margin-right: 30px;
  //   }

  //   &:nth-child(2n) {
  //     margin-right: 0;
  //   }

  //   &:last-child {
  //     margin-right: auto;
  //   }

  //   &:nth-last-child(-n+2) {
  //     margin-bottom: 0;
  //   }
  // }

  // desktop
  // @media screen and (min-width: $desktop) {
  //   flex-basis: calc((100% - 2 * 30px) / 3);
  //   margin-right: 30px;
  //   margin-bottom: 30px;

  //   &:nth-child(3n) {
  //     margin-right: 0;
  //   }

  //   &:nth-last-child(-n+3) {
  //     margin-bottom: 0;
  //   }
  // }

  // &:not(:last-child) {
  //   @media screen and (max-width: $max-mobile) {
  //     margin-bottom: 30px;
  //   }
  // }

  &:hover,
  &:active,
  &:focus-within {
    box-shadow: $active-project-shadow;
  }

}

.project-cards__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-right: 0;
}

.project-cards__thumb-overlay {
  position: relative;
  width: 100%;
  overflow: hidden;
}


.project-cards__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 370px;
  }
}


.project-cards__overlay {
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;

  color: $white-color;
  background-color: $bg-overlay;

  font-size: $card-title-font-size;
  line-height: 1.6;
  transform: translateY(100%);
  @include transition();
  transition-property: transform;
}

.project-cards__content {
  flex-direction: column;
  flex-grow: 1;

  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;

  border-left: 1px solid $border-whisper-grey;
  border-right: 1px solid $border-whisper-grey;
  border-bottom: 1px solid $border-whisper-grey;
}

.project-cards__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: $primary-bold;
  font-size: $card-title-font-size;
  color: $primary-text-color;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-cards__title--long {
  letter-spacing: 0.04em;
}

.project-cards__description {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.9;
  color: $secondary-text-color;
}

.project-cards__link {
  @extend %link;

  &:hover .project-cards__overlay,
  &:focus .project-cards__overlay {
    transform: translateY(0);
  }
}