.clients-set {
    @extend %list;
    @include sectionSetFlex();
    align-items: center;
    justify-content: center;
    margin: -15px;


}

.clients-set__item{
outline: 4px dotted darkgreen;
background-color: yellow;

    flex-basis: calc(100% - 1 * 30px) / 2;
    margin: 15px;
    @media screen and (min-width: $tablet) {
            flex-basis: calc(100% - 2 * 30px) / 3;
        }
    
        @media screen and (min-width: $desktop) {
            flex-basis: calc(100% - 5 * 30px) / 6;
        }
}

.clients-set__logo {
    @include centeredFlex();
    justify-content: center;
    min-width: 170px;
    min-height: 92px;

    color: $border-clients;
    border: 1px solid $border-clients;
    border-radius: 4px;

    @include transition();
    transition-property: color, border;
    &:hover,
    &:focus,
    &:active {
        color: $accent-dodger-blue;
        border: 1px solid $accent-dodger-blue;
    }
}

.clients-set__icon {
    fill: currentColor;
}