.business {
@media screen and (max-width: $max-tablet){
position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}   
  @extend %centered;
  @include sectionPad($size-top: 47px, $size-bottom: 94px)
}

.section-set__item--business {
  position: relative;
  @include centeredFlex();
  max-width: 370px;
}

.section-set__descr {
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: $bg-about-abs;
  color: $white-color;

  font-weight: $primary-bold;
  font-size: $secondary-font-size;
  line-height: 1.14;
  text-transform: uppercase;
}
