.clients__list {
    @extend %list;
    @media screen and (min-width: $mobile) {
    @include setFlexWrap();
    justify-content: center;
    }
    @media screen and (max-width: $pre-mobile) {
           width: 170px;
           margin: 0 auto;
    }
}

.clients__item{
    // margin-right: 0;
  @media screen and (min-width: $mobile) and (max-width: $max-mobile){
    flex-basis: calc((100% - 1 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-last-child(-n+2){
        margin-bottom: 0;
    }
    &:nth-child(2n){
        margin-right: 0;
    }
    }
    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
        flex-basis: calc((100% - 2 * 30px) / 3);
            margin-right: 30px;
            margin-bottom: 30px;
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-last-child(-n+3) {
                margin-bottom: 0;
            }
        }
                 @media screen and (min-width: $desktop) {
                     flex-basis: calc((100% - 5 * 30px) / 6);
                     margin-bottom: 0;
                    &:not(:last-child){
                        margin-right: 30px;
                    }
}
    &:not(:last-child) {
            @media screen and (max-width: $max-mobile) {
                margin-bottom: 30px;
            }
        } 
    }





.clients__logo {
    @include centeredFlex();
    justify-content: center;
    min-width: 170px;
    min-height: 92px;

    color: $border-clients;
    border: 1px solid $border-clients;
    border-radius: 4px;

    @include transition();
    transition-property: color, border;
    &:hover,
    &:focus,
    &:active {
        color: $accent-dodger-blue;
        border: 1px solid $accent-dodger-blue;
    }
}

.clients__icon {
    fill: currentColor;
}