.site-nav {
    @extend %list;
    display: flex;
    margin-left: 93px;
}

.site-nav__item {
        position: relative;
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.site-nav__link {
        @extend %link;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        color: $primary-text-color;
    
        font-weight: $accent-weight;
        font-size: $secondary-font-size;
        line-height: 1.14;
        letter-spacing: 0.02em;        
    }

.site-nav__link--current {
    color: $accent-dodger-blue;
    &::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;

        background: $accent-dodger-blue;
        border: none;
        border-radius: 2px;
        @include transition();
        transition-property: transform;
        transform: scaleX(1);               
}       
    &:hover::after {
        transform: scaleX(0);
}
}
