.site-contacts {
    @extend %list;
    @include centeredFlex();
    margin-left: auto;
}
.site-contacts__item {
        position: relative;
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
    
.site-contacts__link {
    @extend %link;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    
        color: $secondary-text-color;

        font-weight: $accent-weight;
        font-size: $secondary-font-size;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

.site-contacts__link--contact {
        @include centeredFlex();
        color: $secondary-text-color;
    }

.site-contacts__icon {
        display: inline-flex;
        margin-right: 10px;
        fill: currentColor;
        vertical-align: center;
    }

    


