body {
    height: 100vh;
    /* padding-top: var(--header-height); */
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: $primary-weight;
    font-size: $primary-font-size;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: $primary-text-color;
    background-color: $white-color;
}

.modal-open{
    overflow: hidden;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-main {
    flex: 1 1 auto;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $mobile) {
        width: $mobile;
        // background-color: orange;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
        // background-color: lime;
    }

    @media screen and (min-width: $desktop) {
         width: $desktop;
        //  background-color: skyblue;
    }
}

.row {
    display: flex;
    align-items: center;
}


.point {
    @include transition();
    transition-property: color;
    &:hover,
    &:focus {
            color: $accent-dodger-blue;
        }
}

.section {
    @extend %list;
    @media screen and (max-width: $max-tablet){
        @include sectionPad($size-top: 60px, $size-bottom: 60px);
    }
    @media screen and (min-width: $desktop) {
        @include sectionPad($size-top: 94px, $size-bottom: 94px);
        }
}

.section__title {
    @extend %centered;
    margin-top: 0;
    margin-bottom: 30px;

    font-size: $section-title-font-size;
    font-weight: $primary-bold;
    line-height: 1.2;

@media screen and (min-width: $desktop) {
    margin-bottom: 50px;
}

}

.title {
    @extend %centered;
    margin-top: 0;
    margin-bottom: 10px;

    color: $primary-text-color;
    font-weight: $accent-weight;
}

.subtitle {
    margin-top: 0;
    font-weight: $primary-bold;
    font-size: $secondary-font-size;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-text-color;
}

// .section-set {
// @extend %list;

// @media screen and (min-width: $tablet) {
//         @include sectionSetFlex();
//         align-items: center;
//         justify-content: center;
//         margin: -15px;
//     }

//     // @media screen and (min-with: $desktop) {
        
//     // }

// //   &__item:not(:last-child) {
// //         margin-right: 30px;
// //     }
// }


// .section-set__item{
// outline: 4px dotted darkgreen;

// background-color: yellow;

//     display: flex;
//     flex-direction: column;
//     flex-grow: 1;
//     flex-shrink: 0;
//     // max-width: 370px;

//    @media screen and (min-width: $tablet) {
//     flex-basis: calc(100% - 1 * 30px) / 2;
//     margin: 15px;
//     }
//     @media screen and (min-width: $desktop) {
//         flex-basis: calc(100% - 2 * 30px) / 3;
//     }
//         &:not(:last-child) {
//             @media screen and (max-width: $max-mobile){
//             margin-bottom: 30px;
//     }
//   }
// }

.set__title {
    margin-top: 0;
    margin-bottom: 10px;
}







