%list {
    margin: 0;
    padding: 0;
    list-style: none;
}

%link {
    text-decoration: none;
    color: inherit;
}

%description {
    margin-top: 0;
    margin-bottom: 0;
}

%centered {
  text-align: center;
}

%button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

