$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-dodger-blue: #2196f3;
$black-logo: #000000;
$white-color: #ffffff;
$white-transparent-color: rgba(255, 255, 255, 0.6);
$comment-modal: rgba(117, 117, 117, 0.5);

$bg-ghost-white: #f5f4fa;
$bg-gunmetal: #2f303a;
$hero-btn-active: #188ce8;
$bg-footer-social-icons: rgba(255, 255, 255, 0.1);
$bg-about-abs: rgba(47, 48, 58, 0.8);
$bg-overlay: rgba(33, 150, 243, 0.9);
$bg-modal-overlay: rgba(0, 0, 0, 0.2);

// border
$border-whisper-grey: #eeeeee;
$border-whisper-white: #ececec;
$border-clients: #afb1b8;
$signup-border: rgba(255, 255, 255, 0.3);

$sign-up-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

$border-close-btn: rgba(0, 0, 0, 0.1);
$modal-form-border: rgba(33, 33, 33, 0.2);

$team-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$active-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$hero-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$active-project-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

// fonts 
$primary-font-size: 16px;
$secondary-font-size: 14px;
$modal-form-font: 12px;
$mobile-link-font-size: 18px;
$modal-form-font-title: 20px;
$mobile-mail-link: 24px;
$mobile-tel-contacts: 34px;
$mobile-nav-link: 40px;

$logo-font-size: 26px;
$hero-mob-font-size: 26px;
$hero-font-size: 44px;

$section-title-font-size: 36px;
$card-title-font-size: 18px;


//  weight 
$primary-weight: 400;
$primary-bold: 700;
$accent-weight: 500;
$hero-weight: 900;

// height 
$header-height: 80px;

